body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
nav{
    display: flex;
    justify-content: space-evenly;

}
#format{
    display: grid;
    grid-template-columns: 100px 100px 100px;

}
.col{
    padding: 10px;
    border: 10px solid ;
}