.schedule{
    border: thin solid black;
    margin: 10px;
    border-spacing: 5px;
    border-collapse: separate;
    caption-side: bottom;
    width: 80%;
    margin: auto;
    background-color: brown;
    
}
.schedule th,.schedule td{
    border: thin solid black;
    padding: 5px;
    background-color: bisque;
   
}
.schedule tbody tr :nth-child(even){

}