body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.parent{
    display: grid;
    grid-template-columns:150px 150px 150px;
    gap: 10px;
}
.child{
    background-color: aqua;
    margin: 10px;
}
.wrapper{
    display: grid;
    grid-template-areas: 
    "header" "header" "header"
    "main" "main" "main"
    "footer" "footer""footer"
    ;
}
header{
    grid-area: 
    "header";
}
footer{
    grid-area: 
    "footer"
    ;
}
main{
    grid-area: "main" 
    ;
}