.Desert{
    
    border: thin, black, solid;
    float:right;
}
.hammer{
    float: absolute;
    position: relative;
    bottom: -150px;
    margin: 0%;
    right: -365px;
}
div{
    clear: right;
}